@model IEnumerable<Tarefa>

<div class="row">
    <div class="col-md-2">
        <form asp-action="Filtro" method="post">
            <div class="mb-3">
                <label class="form-label">Categoria</label>
                <select name="filtro" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Categorias, "CategoriaId", "Nome", ViewBag.Filtros.CategoriaId))">
                    <option value="todos">Todos</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Vencimento</label>
                <select name="filtro" class="form-select"
                        asp-items="@(new SelectList(ViewBag.VencimentoFiltro, "Key", "Value", ViewBag.Filtros.Vencimento))">
                    <option value="todos">Todos</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Condição</label>
                <select name="filtro" class="form-select"
                        asp-items="@(new SelectList(ViewBag.Condicoes, "CondicaoId", "Nome", ViewBag.Filtros.CondicaoId))">
                    <option value="todos">Todos</option>
                </select>
            </div>

            <button type="submit" class="btn btn-primary">Filtro</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Limpar</a>
        </form>
    </div>
    <div class="col-md-10">
        <form asp-action="MarcarCompleto" method="post" asp-route-id="@ViewBag.Filtros.FiltroString">
            <table class="table table-borderd table-striped mt-2">
                <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Categoria</th>
                        <th>Data de Vencimento</th>
                        <th>Condição</th>
                        <th class="w-25"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (Tarefa atividade in Model)
                    {
                        string atrasada = atividade.Atrasada ? "bg-warning" : "";
                        <tr>
                            <td class="@atrasada">@atividade.Descricao</td>
                            <td class ="@atrasada">@atividade.Categoria.Nome</td>
                            <td class="@atrasada">@atividade.DataDeVencimento?.ToShortDateString()</td>
                            <td class="@atrasada">@atividade.Condicao.Nome</td>
                            <td class="@atrasada">
                                @if (atividade.CondicaoId == "aberto")
                                {
                                    <button type="submit" class="btn btn-primary btn-sm"
                                            name="@nameof(Tarefa.Id)" value="@atividade.Id">
                                        Tarefa Concluida
                                    </button>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </form>

        <form asp-action="DeleteCompleto" method="post" asp-route-id="@ViewBag.Filtros.FiltroString">
            <a asp-action="Add" class="btn btn-primary">Adiconar Tarefas</a>
            <button type="submit" class="btn btn-danger">Apagar completar atividades</button>

        </form>
    </div>
</div>

